= form_tag(cards_find_cards_for_my_purchase_path) do
  = label_tag "Enter Your purpose for current use of credit card . e.g. petrol purchase,camera purchase etc"
  = text_field_tag "creditcard"
  = submit_tag "Submit value"

