%div
  %div{:id=>"flash"}
    = flash[:notice] 
    %div
      %div{:class=>"placemeleft"} 
        %a{:href=>"/cards/search"} Already Have A Credit Card?
      %div{:class=>"placemeright"} 
        %a{:href=>cards_find_cards_for_me_url} Looking For A Credit Card? 
  
  
